@model PGR.LEX.Models.TMoneda

@{
    ViewBag.Title = "Agregar Moneda";
}

<h2>Agregar moneda</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-inline">
            <div class="col-md-offset-2 col-md-10">

                @Html.ActionLink(" REGRESAR", "Index", "Moneda", new object { }, new { @class = "btn boton fa fa-arrow-left" })
                @*@Html.ActionLink(" GUARDAR", "Agregar", "Moneda", new object { }, new { @class = "btn boton fa fa-floppy-o" })*@
                <input type="submit"  value="GUARDAR" class="btn boton fa" />  





            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
