<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PGR LITIGIOSO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark barraMenu">
        <div class="container">
            @Html.ActionLink("LITIGIOSO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Catálogos", "Index", "Catalogos", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container body-content">

        <nav aria-label="breadcrumb">
            @Html.MvcSiteMap().SiteMapPath()
        </nav>




        @RenderBody()
        <hr />

    </div>
    <footer>
        <div class="container">
         
                <p class="d-flex justify-content-center">Procuradur&iacute;a General de la Rep&uacute;blica</p>
        
                <p class="d-flex justify-content-center">&copy; @DateTime.Now.Year - PGR</p>
            
  

        </div>
       
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
