@model IEnumerable<PGR.LEX.Models.TTerrenosAfectados>

@{
    ViewBag.Title = "Terrenos afectados";
}

<h2>Terrenos afectados</h2>

<br />
<table class="table table-striped table-hover">
    <thead class="encabezadoTabla">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.Terreno_Afectado }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Terreno_Afectado }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Terreno_Afectado })
                </td>
            </tr>
        }
    </tbody>

</table>

<p>

    @Html.ActionLink(" AGREGAR", "Create", "TerrenosAfectados", new object { }, new { @class = "btn boton fa fa-plus", title = "Agregar un terreno afectado" })
</p>