@model IEnumerable<PGR.LEX.Models.TTipoAudiencia>

@{
    ViewBag.Title = "Tipo de Audiencia";
}

<h2>Tipo de Audiencia</h2>

<br />
<table class="table table-striped table-hover">
    <thead class="encabezadoTabla">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idTipoAudiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idTipoAudiencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.idTipoAudiencia }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idTipoAudiencia }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idTipoAudiencia })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>

    @Html.ActionLink(" AGREGAR", "Create", "TipoAudiencia", new object { }, new { @class = "btn boton fa fa-plus", title = "Agregar un nuevo tipo de audiencia" })
</p>
